.div_header_left{
  max-width: 650px;
  .imagen_header{
    max-width: 650px;
    width: 100%;
  }

  .div_textos{
    display: flex;
    margin-top: 5%;

    h1{
      font-weight: 800;
    }

    div{
      padding: 0 20px;
      p{
        max-width: 600px;
        font-size: 13px;
      }

      button{
        height: 40px;
        width: 160px;
        font-weight: 500;
        border:none;
        background-color: #FF7373;
        color: #fff;
        letter-spacing:4px;
      }
    }
  }
}

@media (max-width: 600px) {
  .div_textos{
    flex-wrap: wrap;
  }
}
