.div_header_right{
  max-width: 300px;
  background: #030616;
  height: 100%;
  padding: 20px;

  .titulo_principal{
    color: #DEAF10;
    font-size: 30px;
  }

  hr{
    color: #fff;
  }

}

.div_individual{
  color: #fff;
  h1{
    font-size: 20px;
  }
  p{
    font-size: 15px;
  }
}