nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: background 0.5s ease;
}

.contenedor_izquierda {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  margin: 0 15px;
  color: white;
  text-transform: capitalize;
}
.contenedor_izquierda .imagen_logo {
  font-size: 2000px;
}

.contenedor_derecha {
  display: flex;
}
.contenedor_derecha .nav_items {
  display: flex;
}
.contenedor_derecha .nav_items h1 {
  font-size: 20px;
  margin: 20px;
}
.contenedor_derecha .nav_items h1:hover {
  border-bottom: 2px solid gray;
}

.nav_toggle {
  display: none;
}

/* Estilos boton hamburguesa */
@media (max-width: 1200px) {
  .nav_items {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-150%);
    transition: 0.3s ease all;
  }
  .nav_items.open {
    transform: translateX(0) !important;
    background: #404040;
  }
  .nav_toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }
  .nav_toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
    background: black;
  }
  .nav_toggle.open span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}
/* Estilos 500-400px */
@media (max-width: 500px) {
  .imagen_logo {
    width: 20vw;
  }
  .nav_items h1 {
    font-size: 6vw;
  }
  .nav_toggle span {
    height: 3px;
  }
  .nav_toggle.false {
    margin: 15px 10px;
  }
  .nav_toggle.open span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 3px);
  }
}
/* Estilos 400-0px */
@media (max-width: 400px) {
  .nav_toggle span {
    width: 5vw;
    margin: 0 0 3px 0;
    height: 0.5vh;
  }
  .nav_toggle.open {
    margin: 15px 15px 15px 5px;
  }
  .nav_toggle.open span {
    transform: none;
  }
  .nav_toggle.open span:nth-child(2) {
    transform: none;
    display: inline;
  }
  .nav_toggle.open span:nth-child(3) {
    transform: none;
  }
}
.div_header_left {
  max-width: 650px;
}
.div_header_left .imagen_header {
  max-width: 650px;
  width: 100%;
}
.div_header_left .div_textos {
  display: flex;
  margin-top: 5%;
}
.div_header_left .div_textos h1 {
  font-weight: 800;
}
.div_header_left .div_textos div {
  padding: 0 20px;
}
.div_header_left .div_textos div p {
  max-width: 600px;
  font-size: 13px;
}
.div_header_left .div_textos div button {
  height: 40px;
  width: 160px;
  font-weight: 500;
  border: none;
  background-color: #FF7373;
  color: #fff;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  .div_textos {
    flex-wrap: wrap;
  }
}
.div_header_right {
  max-width: 300px;
  background: #030616;
  height: 100%;
  padding: 20px;
}
.div_header_right .titulo_principal {
  color: #DEAF10;
  font-size: 30px;
}
.div_header_right hr {
  color: #fff;
}

.div_individual {
  color: #fff;
}
.div_individual h1 {
  font-size: 20px;
}
.div_individual p {
  font-size: 15px;
}

.div_sub_temas {
  display: flex;
  max-width: 320px;
}
.div_sub_temas .imagen {
  max-width: 100px;
  width: 100%;
}

.div_textos {
  margin-left: 20px;
}
.div_textos .numero {
  font-size: 30px;
  color: #CECECE;
  font-weight: 700;
}
.div_textos .titulo {
  font-size: 20px;
  font-weight: 700;
}
.div_textos .texto {
  font-size: 12px;
  color: #878787;
}

.container {
  margin-top: 2%;
}

header {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

section {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  header {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=App.css.map */